<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home / Timesheet page</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1>Запись в журнале рабочего времени № <span th:text="${timesheet.id}"></span></h1><hr>
    <p>Дата записи: <span th:text="${timesheet.createdAt}"></span><br>
    Название проекта: <span th:text="${timesheet.projectName}"></span><br>
    Затрачено времени, мин: <span th:text="${timesheet.minutes}"></span><br>
    Исполнитель: <a th:href="@{'/home/employees/{id}'(id=${timesheet.employeeId})}"  th:text="${timesheet.employeeName}"></a></p>
</body>
</html>