<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home / Employees page</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>Список работников</h1>
<table>
    <thead>
    <tr>
        <th>№ п/п</th>
        <th>Ф.И.О.</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employees : ${employees}">
        <td><span th:text="${employees.id}"></span></td>
        <td><span th:text="${employees.secondName}"></span></td>
        <td><span th:text="${employees.firstName}"></span></td>
        <td><a th:href="@{'/home/employees/{id}'(id=${employees.id})}"  th:text="Подробнее..."></a></td>
    </tr>
    </tbody>

</table>
</body>
</html>