<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home / Timesheet page</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>Информация о работнике</h1><hr>
<h3>Идентификатор: <span th:text="${employee.id}"></span></h3>
<h3>Ф.И.О.: <span th:text="${employee.secondName}"></span> <span th:text="${employee.firstName}"></span></h3>
<h4>Учет рабочего времени:</h4>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Дата</th>
        <th>Время, мин</th>
        <th>Проект</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="timesheets : ${timesheets}">
        <td><span th:text="${timesheets.id}"></span></td>
        <td><span th:text="${timesheets.createdAt}"></span></td>
        <td><span th:text="${timesheets.minutes}"></span></td>
        <td><a th:href="@{'/home/projects/{id}'(id=${timesheets.projectId})}"  th:text="${timesheets.projectName}"></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>